.NavBar {
    background: rgb(255,0,220);
    background: linear-gradient(0deg, rgba(255,0,220,1) 0%, rgba(82,0,133,1) 100%);
}

.NavBar-brand {
    /* font-family: 'Silkscreen', cursive; */
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
    color:white;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

