/* animated spinner from https://loading.io/css/ */


.lds-dual-ring {
    position: absolute;
    left: 0; 
    right: 0;
    top: calc(50% - 100px); 
    margin-left: auto; 
    margin-right: auto;
	display: block;
	width: 200px;
	height: 200px;
    z-index: 9999;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 200px;
	height: 200px;
    z-index: 9999;
	border-radius: 50%;
	border: 20px solid rgba(205, 205, 205, 0.8);
	border-color: rgba(205, 205, 205, 0.8) transparent rgba(205, 205, 205, 0.8) transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}